body {
  overflow: scroll;
  margin: 0px;
  padding: 0px;
  background: white;
}

div:first-child {
  margin-top: 0px;
}

div {
  cursor: pointer;
  text-align: center;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.8em;
  width: 100px;
  margin-top: 1px;
  background: #cccccc;
}

div:hover {
  background: #aaaaaa;
}

#red {
  border: 1px solid red;
  color: red;
}

#blue {
	border: 1px solid #0000FF;
	color: #0000FF;
}

#cream {
  border: 1px solid #FCFBE3;
  color: #FCFBE3;
}

#original {
  border: 1px solid black;
}

.size {
	border: 1px solid black;
}

#Arial {
	font-family: Arial;
}

#Roboto {
	font-family: Roboto;
}

#ComicSansSerif {
	font-family: "Comic Sans MS";
}

.crx_mouse_visited {
  background-color: #bcd5eb !important;
  outline: 1px solid #5166bb !important;
}

.editor_background {
  background-color: #FF0000;
}