@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	padding: 0;
	margin: 0 auto;
	font: 1em "Open Sans";
}
.header {
	padding: 0.5em;
	width: 100%;
	background-color: #eee;
	border-bottom: 0.1em solid #bbb;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0 auto;
}
.title2 {
	font-weight: 400;
	font-size: 0.5em;
}
.container {
	width: 90%;
	margin-left: 5%;
}
.code {
	width: 100%;
	resize: none;
	overflow: auto;
}